<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie do książki telefonicznej</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="http://localhost:8080/dodaj">
    <table>
        <tr>
            <td>Podaj imię </td>
            <td><input name="imieAutora"></td>
        </tr>
        <tr>
            <td>Podaj nazwisko</td>
            <td> <input name="nazwiskoAutora"> </td>
        </tr>
        <tr>
            <td>Podaj nazwe</td>
            <td><input name="nazwa"></td>
        </tr>
        <tr>
            <td>     Podaj gatunek    </td>
            <td><input name="gatunek"></td>
        </tr>
            <td colspan="1">
                <input type="submit"></td>
    </table>
</form>
</body>
</html>
